{% extends "base.html" %}


{% block content %}

<h1>The Deep Thesaurus
<!--     <img src="/static/books.png" alt="" style="max-width: 40px"> -->
</h1>
<h4 style='text-align:center; font-size: 15px'>Eric Frank, Xinyu Hu, and Sam Greydanus</h4>

<br>

<div class="sechighlight">
<div class="container sec">
  <h2>Overview</h2>
  <div id="coursedesc">
    We could say "You are pretty great" or "You are pretty and great" and the word <i>pretty</i> would mean different things. Now, your average thesaurus would recommend the same set of synonyms for <i>pretty</i> regardless of context. This is a silly. To make your life incrementally better, we propose a <i>deep thesaurus</i> which uses a deep learning model to rank synonyms using context. Enjoy!
  </div>
</div>
</div>

<div class="project_demo" style="display: block; margin-left: auto; margin-right: auto; width:600px">
    <div style="text-align:left;">

        <h4>Thesaurus demo:</h4>
        <form action="/submit" method="post" name="login" style="padding-left: 20px;">
            {{ thesaurus_input.hidden_tag() }}
            {{ thesaurus_input.sentence.label }} {{ thesaurus_input.sentence(size=40) }}
            <br>
            {{ thesaurus_input.word.label }} {{ thesaurus_input.word(size=12) }}
            <br>
            {{ thesaurus_input.use_deep.label }} {{ thesaurus_input.use_deep() }}
            <br>
            <input type="submit" value="Go">
        </form>

        {% if deep_synonyms != None %}
        <h4>Deep thesaurus:</h4>
        <div style="padding-left: 20px;">
            <p>"{{deep_synonyms}}"<p>
        </div>
        {% endif %}

        {% if reg_synonyms != None %}
        <h4>Regular thesaurus:</h4>
        <div style="padding-left: 20px;">
            <p>"{{reg_synonyms}}"<p>
        </div>
        {% endif %}

    </div>
</div>

<div class="maintext">

    <h3> How it works </h3>

    <p>
        We will write a more thorough explanation of our project here. In order to make ourselves seem smart, precise, and trustworthy we can use some math in our explanation. Perhaps the quadratic formula will do. It is \(ax^2 + bx + c = 0\). We could even write some pseudocode in order to seem both relatable and technically sound.
    </p>

    <div class="highlight">
        <pre><code class="language-python" data-lang="python">
            <span class="n">import numpy as np</span>
            <span class="n">print("Hello world")</span>
        </code></pre>
    </div>
    <p>
        We can end our demo with some pithy comments about the structure of reality, the meaning of existence, and the dignity of the individual.
    </p>
</div>

<div class="sechighlight">
<div id="footer">
Finished August 31, 2020
</div>
</div>

{% endblock %}